.navbar {
  background-color: #203A65;
  color: white;
}
.home-container{
  margin-top: 30px;
  margin-bottom: 30px;
}
.title{
  margin-bottom: 30px;
}
.btn-icon{
  margin-left: 10px;
}
.icone {
  margin-right: 10px;
}
.text-red{
  color:red;
}
.text-blue{
	color:blue;
}
.footer-bottom {
    background-color: #203A65;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}